.titre{
    font-weight: 200;
}
.hr{
    color: rgb(81, 76, 76);
}
.button{
    background-color: #2780E3;
    color: white;
    font-weight: 200;
    border: none;
    padding: 15px 12px;
    border-radius: 3px;
}
.button:hover{
    background-color: #0752a9;
}
.tableScroll {
    overflow-x: auto;
    white-space: nowrap;
  }
.tr{
    font-weight: 50px;
}